<div class="backgroundLightBlue">
    <hr>
    <h1>Factory</h1>
    <label>Productos</label>

    <buscador busqueda="textobusqueda"></buscador>

    <input type="text" ng-model="productoModelS.titulo" placeholder="Titulo...">
    <button ng-click="agregarProducto()">Agregar</button>
    <ul>
        <li ng-repeat="producto in productoS | toArray:false |filter:{titulo:textobusqueda}">
            <span class="anime" ng-if="!producto.selected">
                <label>{{producto.titulo}}</label>
            </span>
            <span class="anime" ng-if="producto.selected">
                <input type="text" ng-model="producto.titulo"><button ng-click="editarProducto(producto)">Guardar</button>
            </span>
            <button ng-click="oneSelected(producto)">Editar</button>
            <button ng-click="borrarProducto($index,producto)">Borrar</button>
            
        </li>
    </ul>
    <div class="carousel_container">
            <ul rn-carousel="" rn-carousel-index="3" rn-carousel-auto-slide="3" class="carousel5 ng-scope">
                    <li style="display: inline-block; transform: translate3d(-400%, 0px, 0px);">Slide 1</li>
                    <li style="display: inline-block; transform: translate3d(-300%, 0px, 0px);">Slide 2</li>
                    <li style="display: inline-block; transform: translate3d(-200%, 0px, 0px);">Slide 3</li>
                    <li style="display: inline-block; transform: translate3d(-100%, 0px, 0px);">Slide 4</li>
                    <li style="display: inline-block; transform: translate3d(0%, 0px, 0px);">Slide 5</li>
                    <li style="display: inline-block; transform: translate3d(100%, 0px, 0px);">Slide 6</li>
                    <li style="display: inline-block; transform: translate3d(200%, 0px, 0px);">Slide 7</li>
                    <li style="display: inline-block; transform: translate3d(300%, 0px, 0px);">Slide 8</li>
                    <li style="display: inline-block; transform: translate3d(400%, 0px, 0px);">Slide 9</li>
                </ul>
    </div>
    
</div>
<div>
<span my-draggable></span>
</div>
<back-button/>
