.slides_escala{
    animation-duration: 1s;
    animation-name: slide_slow;
    /*transition-delay: 0.3s;*/
    /*animation-delay: 0.3s;*/
}
	
@keyframes slide_slow {
    0%   {
        margin-left: 100%;
        width: 300%;
        background:rgba(255, 0, 0, 0.815);
    }
    25%  {
        margin-left: 70%;
        width: 200%;
        background:red;
    }
    50%  {
        margin-left: 40%;
        width: 150%;
        background:rgba(255, 0, 0, 0.658);
    }
    75%  {
        margin-left: 10%;
        width: 120%;
        background:rgba(255, 0, 0, 0.247);
    }
    100% {
        margin-left: 0%;
        width: 100%;
        background:rgba(255, 0, 0, 0.116);
    }
}